imp-questions-generator.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        -432
      ],
      "id": "66374b84-45b8-4f82-a5a2-fd0c36d7eb49",
      "name": "Telegram Trigger",
      "webhookId": "d05fc34d-70eb-4aff-921a-9d3586448469",
      "credentials": {
        "telegramApi": {
          "id": "jauauwWvzCOKl7wR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -592
      ],
      "id": "6260b965-16d6-463a-8257-00b1adbb8428",
      "name": "Get a file",
      "webhookId": "2af3861c-05e9-421c-b148-7270e8dc076c",
      "credentials": {
        "telegramApi": {
          "id": "jauauwWvzCOKl7wR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content.parts[0].text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1200,
        -592
      ],
      "id": "e5c5ebaf-6b5c-45fe-aa21-8a9f2cbde02b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        -592
      ],
      "id": "5847f43b-e985-41ae-a6ef-efdc7f0dfc8c",
      "name": "Send a document",
      "webhookId": "cdf34c2b-c616-48d3-8221-866d2b152963",
      "credentials": {
        "telegramApi": {
          "id": "jauauwWvzCOKl7wR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09f042a3-daeb-4a90-85fc-fd724ab5ea4e",
              "leftValue": "={{ $json.message.document }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3678aa19-bb5f-4cfc-8a45-81e652d91480",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        -432
      ],
      "id": "b82ea545-3b25-4a13-81b3-502996f805f5",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=reply to this as you are a bot which is used to make important questions with answers the message given by the user is  {{ $json.message.text }} and you only process which is given in document format not which is given in text format and let the output be consise and easy to understnad and not long do not use words like understood you need to look like a chatbot and the document that the user sends is a study notes of this \n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        -288
      ],
      "id": "31c3edb4-9fd0-410b-9f52-a26f475682be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        -64
      ],
      "id": "8ac021fb-259d-4174-b867-424eea31fbb9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hvIcxTmxKUOi7FAw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -288
      ],
      "id": "f1fd7a46-68c5-4e53-8513-4537f3c51967",
      "name": "Send a text message",
      "webhookId": "d6488fa8-a0d5-4dcc-825a-62b5ca1a9b5a",
      "credentials": {
        "telegramApi": {
          "id": "jauauwWvzCOKl7wR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        -64
      ],
      "id": "53d463f7-b829-4808-99cf-431fb6b02a00",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.result.chat.id }}",
        "message": "Do You Have any Specific Questions",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Yes",
            "disapproveLabel": "NO"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        -592
      ],
      "id": "204e4aeb-31f4-4e12-8a65-10e6a59ab6ad",
      "name": "Send message and wait for response",
      "webhookId": "e56797fd-89e0-4ba2-8e1f-df9a651f4821",
      "credentials": {
        "telegramApi": {
          "id": "jauauwWvzCOKl7wR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73333cca-d48b-4968-8464-2c92054b5d87",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        -592
      ],
      "id": "ecaa61af-a64b-40eb-bb68-a24b10b7a54f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "What is the Question",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2320,
        -656
      ],
      "id": "ade18b16-f340-4956-b922-35c6b8bca9fb",
      "name": "Send message and wait for response1",
      "webhookId": "95297180-0e23-437e-980b-1e01b8d47b51",
      "credentials": {
        "telegramApi": {
          "id": "jauauwWvzCOKl7wR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=answer the question the question is '{{ $json.data.text }}' if there is no  suitable output they give the ouput as there is no answer {{ $('Extract from File').item.json.text }} and the output should be meaningful"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2544,
        -656
      ],
      "id": "8df914f2-bb8a-4faa-a0bd-22697deec895",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "hvIcxTmxKUOi7FAw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        624,
        -592
      ],
      "id": "ba740138-aa62-48e6-8a01-9adf8939d42c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=check through this text \n{{ $json.text }}\ngive important questions with answers the answers should be in the document the output should not have an changes in font size or highlights or bold text and number the questions and [ut the word answers before the answers and let there be 2 lines pf space inbetween each question and the answer shold be of complete length as provided in the text"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        848,
        -592
      ],
      "id": "15162999-acfc-44e3-842d-1f00e025714e",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "hvIcxTmxKUOi7FAw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        -656
      ],
      "id": "6fe4fc78-f5d6-4e6b-a231-23a3f32c033d",
      "name": "Send a text message1",
      "webhookId": "14205f59-a889-48ce-b49d-8746e7b1188a",
      "credentials": {
        "telegramApi": {
          "id": "jauauwWvzCOKl7wR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2096,
        -592
      ],
      "id": "c4ae1f01-e8b1-4f6f-8237-77f5162114c4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3120,
        -656
      ],
      "id": "7aa74aa8-c242-451a-906b-504c00aa856c",
      "name": "Wait",
      "webhookId": "76ac7870-1630-4e6a-9cab-edf765582ac1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.result.chat.id }}",
        "message": "Do You Have any  more Specific Questions",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Yes",
            "disapproveLabel": "NO"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3344,
        -656
      ],
      "id": "eac9504f-c3cc-4e9c-9cfe-c2e41e021161",
      "name": "Send message and wait for response2",
      "webhookId": "e56797fd-89e0-4ba2-8e1f-df9a651f4821",
      "credentials": {
        "telegramApi": {
          "id": "jauauwWvzCOKl7wR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73333cca-d48b-4968-8464-2c92054b5d87",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3568,
        -592
      ],
      "id": "4ed86f4d-1c4b-485c-b80f-4c7a63eb7fe4",
      "name": "If2"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a document": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send message and wait for response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eacaaae6e6c99dcd355cd83299310871e22bc6978572cdfb1b0a933710eab484"
  }
}